body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.sm-spacer {
    margin-top: 20px; /* define margin as you see fit */
}

.lbl {
    width: 100px;
}

.lblRight {
    margin-left: 50px;
}

.lblValue {
    text-align: right;
    width: 100px;
}

.leftBlock {
    width: 210px;
}

.topMargin {
    margin-top: 5px;
}

.commentBox {
    max-width: 400px;
    width: 400px;
}

.smallBox {
    
    width: 20px;
    display: inline-block;
    vertical-align: middle;
}